[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
python-dotenv = "*"
honcho = "*"
importlib-metadata="*"
flask-vite = "*"
colorama = "*"
bcrypt = "*"
flask-bcrypt = "*"
email-validator = "*"
requests = "*"
igdb-api-v4 = "*"
faker = "*"
flask-paginate = "*"

[dev-packages]

[requires]
python_version = "3.8"
